:root{
    --color-dark: #6d6d6f; 
    --color-red: #ac2720;
    --font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
}
*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* MOBILE */
@media (max-width: 768px){
    .container{
        min-width: 300px;
        width: 100%;
        max-width: 768px;
        background: url(img/bg_mob.jpg) no-repeat;
    }
    header{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        height: 70px;
        border: 1px solid grey;
    }
    .logo img{
        width: 50px;
    }
    .mainPicture img{
        min-width: 300px;
        width: 100%;
        max-width: 768px;  
        height: 200px;      
    }
    .title{
        margin-top: 5px;
        font-size: 17px;
        text-align: center;
    }
    .iconService img{
        width: 35px
    }
    .service{
        display: flex;
        flex-direction: column;
    }
    .blockServices:nth-child(1){
        display: block;
        text-align: center;
        font-size: 15px;  
        white-space: wrap;  
    }
    .blockServices:nth-child(2){
        display: block;
        text-align: center;
    }
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1022px){
    .container{
        width: 768px;
        margin: 0 auto;
        height: 3270px;
        background: url(img/bg.jpg) no-repeat 50% 0;
        border: 1px solid grey;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        height: 70px;
        font-size: 22px;
        border: 1px solid grey;
    }
    .logo img{
        width: 220px;
    }
    .mainPicture img{
        min-width: 320px;
        width: 100%;
        max-width: 768px;  
        height: 100%;      
    }
    .title{
        font-size: 28px;
        text-align: center;
    }
}
/* DESKTOP */
@media  (min-width: 1022px){
    br {
        display: none;
    }
    .container{
        width: 768px;
        margin: 0 auto;
        height: 3270px;
        border: 1px solid grey;
        background: url(img/bg2.jpg);
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        height: 70px;
        font-size: 16px;
        border: 1px solid grey;
    }
    .logo img{
        width: 220px;
    }
    .mainPicture img{
        min-width: 320px;
        width: 100%;
        max-width: 768px;  
        height: 100%;      
    }
    .title{
        font-size: 20px;
        text-align: center;
        margin: 20px 0;
    }

    .iconService img{
        width: 35px;
        margin: 0 20px ;
    }
    .blockService{
        display: flex;
        text-align: start;
        font-size: 15px; 
        margin: 20px 0;
    }
    .textService{
       display: flex;
       align-items: center;
       line-height: 1.3;
    }
     
    
    .projects{
        display: block;
    }
   
    .blockProj{
        display: flex;
        justify-content: space-around;
    }
}