:root{
    --color-dark: #6d6d6f; 
    --color-red: #8e1f19;
    --font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    --font-size: 15px;
    --font-size-mob: 16px;
    
}
*{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    text-decoration: none;
}

hr{
    margin: 0 15px;
    color: var(--color-dark);
    opacity: 0.4;
}
.moreInfo{
    text-align: center;
    padding: 0 5px;
}

.siteLink{
    text-decoration: underline;
    color: var(--color-red)
}
@media (max-width: 325px){
    .container{
        min-width: 300px;
        width: 100%;
        height: 100%;
        max-width: 768px;
        font-size:14px;
    }
    
/* HEDER */
    header{
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        align-items: flex-end;
        height: 70px;
        font-size: var(--font-size);
    }
    .phone{
        margin: 0 5px 5px 0;
        text-align: center;       
    }
    .mainPicDesktop{
        display: none;
    }
    .mainPicture img{
        min-width: 300px;
        width: 100%;
        max-width: 768px;  
        height: 100%;      
    }

/* TITLE */
    .title{
        font-size: 14px;;
        margin: 5px 0;
        text-align: center;
    }
    .title span{
        color: var(--color-red);        
    }

/* SERVICE */    
    .iconService img{
        width: 35px
    }
    .service{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .blockServices{
        display: block;
        text-align: center;
        white-space: wrap; 
    }
    .blockService{
        padding: 0 5px; 
        margin-top: 5px;
    }


/* PROJECT */
    .projects{
        margin: 20px 0;
    }
    .projects h3{
        margin: 20px 0;
        text-align: center;
        color: var(--color-red);
    }

    .firstBlockProj,.secondBlockProj{
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }
    .firstBlockProj img{
        width: 27%;
        height: 30%;
        padding: 0 2%;
    }
    .secondBlockProj img{
        width: 45%;
        height: 45%;
        padding: 0 2%;
    }
    


/* FOOTER  */
    footer{
        margin:  20px 0;
    }
    footer h3{
        text-align: center;
        margin: 10px 0;
        color: var(--color-red);
    }
    .contactSection{
        display: flex;
        justify-content: space-around;
        
    }
}


/* MOBILE */
@media (min-width: 325px) and (max-width: 1000px) {
    .container{
        min-width: 300px;
        width: 100%;
        height: 100%;
        max-width: 768px;
        font-size: var(--font-size-mob);
    }
    
/* HEDER */
    header{
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        align-items: flex-end;
        height: 70px;
        font-size: var(--font-size);
    }
    .phone{
        margin: 0 5px 5px 0;
        text-align: center;       
    }
    .mainPicDesktop{
        display: none;
    }
    .mainPicture img{
        min-width: 300px;
        width: 100%;
        max-width: 768px;  
        height: 100%;      
    }

/* TITLE */
    .title{
        font-size: var(--font-size);
        margin: 5px 0;
        text-align: center;
    }
    .title span{
        color: var(--color-red);        
    }

/* SERVICE */    
    .iconService img{
        width: 35px
    }
    .service{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .blockServices{
        display: block;
        text-align: center;
        white-space: wrap; 
    }
    .blockService{
        padding: 0 5px; 
        margin-top: 5px;
    }


/* PROJECT */
    .projects{
        margin: 20px 0;
    }
    .projects h3{
        margin: 20px 0;
        text-align: center;
        color: var(--color-red);
    }

    .firstBlockProj,.secondBlockProj{
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
    }
    .firstBlockProj img{
        width: 27%;
        height: 30%;
        padding: 0 2%;
    }
    .secondBlockProj img{
        width: 45%;
        height: 45%;
        padding: 0 2%;
    }
    


/* FOOTER  */
    footer{
        margin:  20px 0;
    }
    footer h3{
        text-align: center;
        margin: 10px 0;
        color: var(--color-red);
    }
    .contactSection{
        display: flex;
        justify-content: space-around;
        
    }
    
}


/* DESKTOP */
@media  (min-width: 1000px) {

    body{ background: url(img/bg_mob.jpg); }

    .PhoneDesktopNotPointer{ pointer-events: none; }
    
    .container{
        width: 768px;
        margin: 10px auto;
        box-shadow:  0 0 10px  rgba(0, 0, 0, 0.313);
        background: white;
        font-size: var(--font-size);
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;   
    }
    .logo img{ 
        width:130px; 
        margin: 15px 0 5px 15px;
    }

    .phone{
        margin:  0 15px 10px;
        text-align: center;
    }
    .mainPicMob{
        display: none;
    }
    .mainPicture img{
        min-width: 320px;
        width: 100%;
        max-width: 768px;  
        height: 100%;    
    }

    .title{
        font-size:19px;
        text-align: center;
        margin: 10px 0;
    }
     .title span{
        color: var(--color-red);
     }


    .service{
        margin: 20px 0 40px 0;
    }
    .iconService img{
        width: 35px;
        margin: 20px 0 0 0;
    }
    .blockService{
        text-align: center;
        margin: 10px 0;
    }
    .blockServices{
        margin-bottom: 20px;
    }
    .firstBlockServices{
        display: flex;
        justify-content: space-around;
    }
    .firstBlockServices .analysis,
    .firstBlockServices .money,
    .firstBlockServices .transport{
        width: 200px; 
    }
    .firstBlockServices .money .textService{
        width: 170px;
        margin: 0 auto;
    }
    .firstBlockServices .transport .textService{
        width: 144px;
        margin: 0 auto;  
    }


    .secondBlockServices .list{
        width: 350px;
        margin: 0 auto;
    }
    .secondBlockServices .docs{
        width: 350px;
        margin: 0 auto;
    }
    .secondBlockServices .personal{
        width: 250px;
        margin: 0 auto;
    }
    .secondBlockServices .providers{
        width: 250px;
        margin: 0 auto;
        
    }
    .secondBlockServices-item{
        display: flex;
        justify-content: space-around;
    }


    
    .projects{
        display: block;
        margin: 30px 0;
    }
    .blockProj{
        margin: 20px 0;
    }
    .projects h3{
        text-align: center;
        margin: 20px 0;
        color:var(--color-red);
        font-size: 19px;
    }
    .blockProj{
        display: flex;
        justify-content: space-around;
    }

    footer{
     padding-top: 20px;
    }
    footer h3{
        font-size: 19px;
        text-align: center;
        color:var(--color-red);
    }
    .contactSection{
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
    }
    
}
